<form class="question-form">
  <div class="quiz-container">
    <div class="question-section">
      <h3>{{ question.question }}</h3>
    </div>
    <div class="options">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="0">{{ question.choices[0] }}</mat-radio-button>
        <mat-radio-button value="1">{{ question.choices[1] }}</mat-radio-button>
        <mat-radio-button value="2">{{ question.choices[2] }}</mat-radio-button>
        <mat-radio-button value="3">{{ question.choices[3] }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</form>
