<div class="homepage">
  <header>
    <h1>Welcome to Quiz Central!</h1>
    <p>Your Ultimate Destination for Fun and Challenging Quizzes</p>
  </header>
  <section class="intro">
    <p>
      At Quiz Central, we believe that testing your knowledge should be
      engaging, exciting, and rewarding! Whether you're a trivia expert or just
      looking to have some fun, our quizzes are designed to challenge and
      entertain you.
    </p>
  </section>
  <section class="funny-lines">
    <p class="funny-line">
      "I told my computer I needed a break, and now it won't stop sending me
      Kit-Kats!"
    </p>

    <img
      src="https://marketplace.canva.com/EAF2JOc3ds4/3/0/1600w/canva-landform-quiz-presentation-in-blue-orange-yellow-pastel-illustrative-style-zxTedAp4peE.jpg"
      alt="Funny Quiz Image"
    />
  </section>
  <section class="call-to-action">
    <h2>Start Quiz</h2>
    <p>
      Ready to test your brainpower? Dive into our quizzes and challenge
      yourself with a variety of questions. See how much you really know!
    </p>
    <button mat-raised-button color="primary" (click)="starttest()">
      Take Test
    </button>
  </section>
</div>
