<div class="container">
  <header>
    <h1>Welcome to Quiz Central!</h1>
    <p>Your Ultimate Destination for Fun and Challenging Quizzes</p>
  </header>

  <section class="funny-lines">
    <p class="funny-line">
      "I told my computer I needed a break, and now it won't stop sending me
      Kit-Kats!"
    </p>

    <img
      src="https://marketplace.canva.com/EAF2JOc3ds4/3/0/1600w/canva-landform-quiz-presentation-in-blue-orange-yellow-pastel-illustrative-style-zxTedAp4peE.jpg"
      alt="Funny Quiz Image"
    />
  </section>

  <section class="call-to-action">
    <button mat-raised-button color="primary" (click)="starttest()">
      Start Quiz
    </button>
  </section>
</div>
