<form class="question-form">
  <div class="quiz-container">
    <div class="question-section">
      <h3>{{ question.question }}</h3>
    </div>
    <div class="options">
     
        <mat-checkbox class="example-margin">
          {{ question.choices[0] }}</mat-checkbox
        >
        <mat-checkbox class="example-margin">
          {{ question.choices[1] }}</mat-checkbox
        >
        <mat-checkbox class="example-margin">
          {{ question.choices[2] }}</mat-checkbox
        >
        <mat-checkbox class="example-margin">
          {{ question.choices[3] }}</mat-checkbox
        >
     
    </div>
  </div>
</form>
